/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28.05.2015, 5:19:56
    Author     : Ilya Plotnikov <ilyaplot@gmail.com>
*/

.theme-showcase {
    padding-top: 70px;
}

.time-ago {
    padding: 7px;
    font-size: 85%;
}

.adsbygoogle {
    margin-bottom: 7px;
}

a.city-link {
    text-decoration: dashed;
}

.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}


body{
    font-family: Tahoma;
    font-size: 13px;
    /* background-image:url('/img/pw_maze_white.png');*/
    background-color: #F5F5F5;
}


.container.logo{
    width:700px;
    position: relative;
}

.searchbox{
    padding: 5px 10px 0;
}

.counters{
    width: 600px;
    margin:-10px auto;
    margin-bottom:10px;
    text-align: center;
}

#ajax-loader{
    text-align: center;
    margin:5px auto;
    width: 600px;
    border:1px solid;
    border-radius:2px;
    border-color: Lavender;
    clear: both;
    min-height: 30px;
    margin-bottom:10px;
    background: white;
}

#ajax-loader p{
    color:#c3c3d5;
    padding: 5px 0 3px;
    margin: 0;
}

#ajax-loader img{
    padding-bottom: 5px;
}



.post{
    background: white;
    position:relative;
    display:none;
    margin:5px auto;
    width: 600px;
    border:1px solid;
    border-radius:2px;
    border-color: Lavender;
    clear: both;
    min-height: 110px;
    margin-bottom:10px;
}



.poster{
    float: left;
    width: 50px;
    height:50px;
    padding:15px;
    text-align: center;
}



.post-username{
    font-size:12px;
    text-align:center;
    margin: 0 -15px;
}



.post-text{
    overflow:hidden;
    padding:5px;
    margin-bottom: 20px;
}



.bottom-pane{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    background: white;
    border-top: 1px solid #e6e6fa;
}



.sms{
    margin-left: 33px;
    opacity: 0.5;
}

.call{

    font-size: 0.8em;
    padding-left: 18px;
}

/*TODO: вывод телефона*/
.call i{
    background: url("/imgages/phone16.png") no-repeat;
}



.post-text{
    padding-top: 10px !important;
    padding-right: 15px !important;
}



.more{
    position:relative;
    left: 44%;
    cursor: pointer;
    display: none;
    opacity: 0.5;
}

a.sms:hover, a.more:hover{
    opacity: 1 !important;
}

a.del{
    position: absolute;
    top:5px;
    right:10px;
}

.post-date{
    float: right;
    margin-right: 10px;
    font-size:11px;
    color: #aaa;
}

.post-date:hover{
    color:#000000;
}


#all-ads>div,.counters,#ajax-loader{
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}
#all-ads>div:nth-child(17n){
    transform: none;
}
#all-ads>div:nth-child(13n){
/*    transform: rotate(-0.25deg);*/
}
#all-ads>div:nth-child(5n){
/*    transform: scale(1.01);*/
}

#all-ads>div:nth-child(7n){
/*    transform: scale(0.995);*/
}

#all-ads>div:nth-child(11n){
/*    transform: scale(1.005);*/
}

#all-ads>div:hover{
    background: #ffffea !important;
}

#all-ads>div>div.bottom-pane{
    background: inherit !important;
}


.pics{
    float:right;
    padding-left: 5px;
    position: relative;
}

.prepic{
    display: inline-block;
    max-width: 50px;
    padding-left: 5px;
    position: relative;
    top: 4px;
    padding-bottom: 8px;
    vertical-align: top;
    text-align: center;
}

.prepic img{
    border: 1px solid;
    max-height: 3em;
}

.postpic{
    display: none;
}

.picnum{
    position: absolute;
    top: 16px;
    left: -2px;
    width: 2em;
    text-align: center;

}